<%- include('includes/header') %>

<div class="container py-md-5">
  <%- include("includes/flash") %>
  <div class="row align-items-center">
    <div class="col-lg-7 py-3 py-md-5 align-items-center">
      <h1 class="display-4 mb-3">A Simple Way to Compare Vehicle Prices</h1>
      <p class="lead text-muted">The typical vehicle listing is missing some very important information. Summarize a vehicle's price into a simple "cost per remaining month" value based on how much driving you do and other basic assumptions. <a class="mt-3 mt-3" href="/learn-more">Learn More...</a></p>
    </div>
    <div class="col-lg-5 pl-lg-5 pb-3 py-lg-5">
      <form action="/register" method="POST" id="registration-form">
        <% regErrors.forEach(function(message) { %>
        <div class="alert alert-danger small"><%= message %></div>
        <% }) %>

        <p class="font-weight-bold">Register for a Free Account Today</p>

        <div class="form-group">
          <label for="username-register" class="text-muted mb-1"><small>Username</small></label>
          <input name="username" id="username-register" class="form-control" type="text" placeholder="Pick a username" autocomplete="off" />
        </div>

        <div class="form-group">
          <label for="email-register" class="text-muted mb-1"><small>Email</small></label>
          <input name="email" id="email-register" class="form-control" type="text" placeholder="you@example.com" autocomplete="off" />
        </div>

        <div class="form-group">
          <label for="password-register" class="text-muted mb-1"><small>Password</small></label>
          <input name="password" id="password-register" class="form-control" type="password" placeholder="Create a password" />
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <button type="submit" class="py-2 mt-4 btn btn-md btn-success btn-block">Sign Up</button>
      </form>
    </div>
  </div>
</div>

<!-- Being Test Drive Section -->

<!-- <div class="container py-md-5">
  <div class="row align-items center">
    <div class="col-lg-7 py-3 py-md-5 align-items-center">The Text Goes Here</div>
    <div class="col-lg-5 pl-lg-5 pb-3 py-lg-5">The Form Goes Here</div>
  </div>
</div> -->

<div class="container--test-drive">
  <h1 class="display-5 py-3 mt-5 font-weight-bold">Take It For A Test Drive</h1>
  <p class="lead text-muted">Enter Vehicle Details Below</p>

  <form id="td-form" class="mt-4">
    <div class="form-group">
      <label for="post-title" class="text-muted mb-1"><small>Description (Example: 2020 Jeep Wrangler)</small></label>
      <input required name="description" id="td-title" class="form-control form-control-lg form-control-title" type="text" placeholder="" autocomplete="off" />
    </div>

    <div class="form-group">
      <label for="post-cost" class="text-muted mb-1"><small>Price</small></label>
      <input required name="cost" id="td-price" class="form-control form-control-lg form-control-title" type="number" step="any" placeholder="" autocomplete="off" />
    </div>

    <div class="form-group">
      <label for="post-miles" class="text-muted mb-1"><small>Miles</small></label>
      <input required name="miles" id="td-miles" class="form-control form-control-lg form-control-title" type="number" step="any" placeholder="" autocomplete="off" />
    </div>

    <!-- protects against csrf attack -->
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

    <button type="submit" class="btn btn-primary btn-block mt-1">Save Car</button>
  </form>
  <p class="text-muted mt-4 mb-4 small">Assumed driving of 15,000 miles per year and valuable until 150,000 miles. Customize these values, and gain access to sorting, saving links, and the ability to access your listings across multiple devices, by <strong>registering for a free account</strong>.</p>

  <div id="td-list" class="container mt-4"></div>
</div>

<!-- End Test Drive Section -->

<%- include('includes/footer') %>
