<%- include('includes/header')  %>

<div class="container py-md-5 container--narrow">
  <%- include("includes/flash") %>
  
  <div class="mt-2 pt-2 mb-5">
    <h2 class="mb-4">Hello <strong><%= profileUsername.charAt(0).toUpperCase() + profileUsername.slice(1) %>,</strong></h2>
    <% if (items.length > 0) { %>
      <h6 class="text-muted">You currently have <%= items.length %>
        <% if(items.length == 1) { %>
          item
        <% } else { %>
          items
        <% } %>
        in your list. <h6>
        <h6 class="text-muted">Edit your <a href="/profile/<%= user.username %>/settings">Settings</a> or <a href="/learn-more">Learn More</a> about how the "Remaining Months" and "Cost Per Remaining Months" metrics are calculated.</h6>
    <% } else { %>
      <h6 class="text-muted mb-3"><a href="/create-item">Add a Car</a> to your list to get started.<h6>
        
        <h6 class="text-muted">You can also edit your <a href="/profile/<%= user.username %>/settings">Settings</a> or <a href="/learn-more">Learn More</a> about how the "Remaining Months" and "Cost Per Remaining Months" metrics are calculated.</h6>
      <% } %>
  </div>

  <div class="list-group">
   <% items.forEach(function(item) { %>
    <div class="card mb-4">
    <span class="list-group-item list-group-item-primary">
      <strong><%= item.description %></strong>

      <!-- Conditional Link Icon Code Here -->
      <% if (item.link == "") { %>
      <% } else { %>
        <a href="<%= item.link %>" target="_blank" class="text-primary mr-2" data-toggle="tooltip" data-placement="top" title="Link To Listing"><i class="ml-2 fas fa-external-link-alt"></i></a>
      <% } %><!-- Conditional Link Icon Code End -->

      <!-- opens edit and delete span floated right here -->
      <span class="float-right">
        <!-- edit icon -->
        <a href="/item/<%= item._id %>/edit" class="text-primary mr-2" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fas fa-edit"></i></a>

        <!-- delete icon form button starts here -->
        <form class="delete-post-form d-inline" action="/item/<%= item._id %>/delete" method="POST">
          <!-- protects against csrf attack -->
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
          <!-- Actual button -->
          <button class="delete-post-button text-danger" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fas fa-trash"></i></button>
        </form><!-- form button ends here -->
      </span><!-- closes edit and delete span floated right here -->

    </span>
   
    
    <span class="list-group-item list-group-flush">Cost: $<%= item.cost.toLocaleString("en-US") %></span>
    <span class="list-group-item list-group-flush">Miles: <%= item.miles.toLocaleString("en-US") %></span>
    <span class="list-group-item list-group-flush">Remaining Months: <%= item.remaining_months %></span>
    <span class="list-group-item list-group-flush">Cost Per Remaining Months: $<%= item.cost_per_remaining_month.toLocaleString("en-US") %></span>
    
      
    
  </div>
   <% }) %>
  </div>
</div>

<%- include('includes/footer')  %>