<%- include('includes/header')  %>

<div class="container py-md-5 container--narrow">
  <%- include("includes/flash") %>
  <h2><%- profileUsername %>'s car items</h2>

  <div class="profile-nav nav nav-tabs pt-2 mb-4">
    <a href="#" class="profile-nav-link nav-item nav-link active">Posts: 3</a>
    <a href="#" class="profile-nav-link nav-item nav-link ">Share?</a>
    <a href="#" class="profile-nav-link nav-item nav-link ">Account Settings</a>
  </div>

  <div class="list-group">
   <% items.forEach(function(item) { %>
    <div class="card mb-4">
    <span class="list-group-item list-group-item-primary">
      <strong><%= item.description %></strong><span class="float-right">
        <a href="/item/<%= item._id %>/edit" class="text-primary mr-2" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fas fa-edit"></i></a>
        <form class="delete-post-form d-inline" action="#" method="POST">
          <button class="delete-post-button text-danger" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fas fa-trash"></i></button>
        </form>
      </span>
    </span>
   
    
    <span class="list-group-item list-group-flush">Cost: $<%= item.cost %></span>
    <span class="list-group-item list-group-flush">Miles: <%= item.miles %></span>
    <span class="list-group-item list-group-flush">Remaining Months: <%= item.remaining_months %></span>
    <span class="list-group-item list-group-flush">Cost Per Remaining Months: $<%= item.cost_per_remaining_month.toFixed(0) %></span>
    <span class="list-group-item list-group-flush">Link: <%= item.link %></span>
    
      
    
  </div>
   <% }) %>
  </div>
</div>

<%- include('includes/footer')  %>