<%- include('includes/header')  %>

<div class="container py-md-5 container--narrow">
  <h2><%- profileUsername %>'s car items</h2>

  <div class="profile-nav nav nav-tabs pt-2 mb-4">
    <a href="#" class="profile-nav-link nav-item nav-link active">Posts: 3</a>
    <a href="#" class="profile-nav-link nav-item nav-link ">Share?</a>
    <a href="#" class="profile-nav-link nav-item nav-link ">Account Settings</a>
  </div>

  <div class="list-group">
   <% items.forEach(function(item) { %>
    <div class="card mb-4">
    <a class="list-group-item list-group-item-action" href="/item/<%= item._id %>">
      <strong><%= item.description %></strong>
    </a>
   
    
    <span class="list-group-item list-group-flush">Cost: $<%= item.cost %></span>
    <span class="list-group-item list-group-flush">Miles: <%= item.miles %></span>
    <span class="list-group-item list-group-flush">Remaining Months: <%= item.remaining_months %></span>
    <span class="list-group-item list-group-flush">Cost Per Remaining Months: $<%= item.cost_per_remaining_month %></span>
    <span class="list-group-item list-group-flush">Link: <%= item.link %></span>
    <span class="list-group-item list-group-flush pt-2 text-right">
      <a href="#" class="text-primary mr-2" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fas fa-edit"></i></a>
      <form class="delete-post-form d-inline" action="#" method="POST">
        <button class="delete-post-button text-danger" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fas fa-trash"></i></button>
      </form>
    </span>
  </div>
   <% }) %>
  </div>
</div>

<%- include('includes/footer')  %>