<%- include('includes/header') %>

<div class="container py-md-5 container--narrow">

  <%- include("includes/flash") %>

  <a class="small font-weight-bold" href="/profile/<%= profileUsername %>">&laquo; Back to List</a>

  <h2 class="mt-3">Settings</h2>

  <form class="mt-4" action="/settings/<%= profileUsername %>" method="POST">
    <div class="form-group mb-4">
      <label for="item-useful-miles" class="text-muted mb-1"><small>Useful Life in Miles</small></label>
      <input required name="useful_miles" value="<%= profileUsefulMiles %>" id="item-title" class="form-control form-control-lg form-control-title" type="text" placeholder="" autocomplete="off" />
    </div>

    <div class="form-group mb-4">
      <label for="item-monthly-miles" class="text-muted mb-1"><small>Miles Driven Per Month</small></label>
      <input required name="monthly_miles" value="<%= profileMonthlyMiles %>" id="item-link" class="form-control form-control-lg form-control-title" type="text" placeholder="" autocomplete="off" />
    </div>

    <!-- protects against csrf attack -->
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
    <p class=" small mb-4 alert alert-warning"> Note: Changing these settings will modify any existing items. After clicking "Save Updates" you will be redirected to the homepage to login again.</p>
    <button class="btn btn-primary">Save Updates</button>
  </form>
</div>

<%- include('includes/footer') %>
